doctype
html
	head
		meta(charset='utf-8')
		title
		include ./css/min.css
		include ./css/min.js
	body
		div#setText
			input(type="text",id="titText")
			input(type="button",value="发布",id="btn")
		ul#ul